.container {
  display: flex;
  height: 50vh;
  width: 30vh;
  background-color: beige;
}

.grid-container {
  height: 50%;
  width: 50%;
  
}

.cell{
    background-color: white;
    width: 100px;
    height: 100px;
}
.active {
  background-color: cadetblue;
}
