.container{
  display: flex;  
  width: 550px;
  height: 170px;
  justify-content: space-evenly;
  align-items: center;
}
.post-container{
    display: flex;
    size: 100px;
    width:200px;
    height:100px;
    gap:2rem;
    align-items: center;
}
.img{
  height: 150px;
  width: 100px;
  border-radius: 10px;
}
.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.page-btn{
    background-color: black;
    color: white;
    width:20px
}
.active{
    background-color: white;
    color:black
}