.container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height:150px;
    width:120px;
    gap:5px;
}
.traffic-light{
    /* position: absolute; */
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 80px;
}
.red-light{
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 80px;
}
.green-light{
    background-color: green;
    border-radius: 50%;
    height: 100px;
    width: 80px;
}
.yellow-light{
    background-color: yellow;
    border-radius: 50%;
    height: 100px;
    width: 80px;
}