.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.time-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* reduce spacing between inputs and buttons */
}

.time-input {
  height: 50px;
  width: 50px;
  text-align: center;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}
