.container {
  display: flex;
  flex-direction: column;
  align-items: center;      /* centers horizontally */
  justify-content: center;  /* centers vertically if content fits screen */
  min-height: 100vh;        /* ensure full screen height */
  gap: 20px;                /* spacing between images */
  background-color: #f5f5f5;
  min-width:100%        

}

.image {
  height: 60%;
  width: 70%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
